// -----------footer -----------
.footer{
	background-color: $color-bg-dark;
	padding: 60px 0;
	
		.container{
			display: flex;
		}
		&__contacts{
			margin-right: 70px;
		}
		&__logo {
			margin-bottom: 20px;
		}
		&__address{}
		&__list{}

		&__link {
			display: block;
			margin-bottom: 9px;
			a{
				font-size: 14px;
				line-height: 1.71;
				color: rgba(255, 255, 255, 0.6);
				
				transition: color 250ms $timing-function;
							
			}
			&:first-child a{
				color: $color-main-light;
			}
			&:last-child{
				margin-bottom: 0;
			}
			a:hover, a:focus{
				color: $main-color;
			}
		}
		&__social {
			margin-top: 12px;
			margin-right: 93px;
		}
		&__social-title{
			margin-bottom: 20px;
			text-align: left;
			color: $color-main-light;
		}
		&__social-list {}		
		&__form {
			margin-top: 12px;
		}
}

