// ----------- section principles -----------

.principles {
	padding-bottom: 0;

	&__list {
			display: flex;
			justify-content: space-between;
			font-size: 14px;
		}
	&__item {

		&:not(:last-child) {
			margin-right: 30px;
		}
	}
	&__block {
		padding: 25px 100px;
		background-color: $color-bg-light2;
		border-radius: 4px;
		margin-bottom: 30px;
	}
	&__title {
		margin-bottom: 10px;
		text-transform: uppercase;
		text-align-last: left;
	}
	&__subtitle {
		line-height: 1.71;
		color: $color-second-dark;
	}
}