// ----------- section header -----------
.header {
	background-color: $color-main-light;
	text-decoration: none;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	font-weight: 500;
	border: 1px solid #ECECEC;	

		.container {
			@include flexCenter($main-axis:space-between);
			height: 80px;
		}
		&__logo {
			display: flex;
			align-items: center;
			margin-right: 50px;
		}
		&__menu {
			flex: 1 1 auto;
			display: flex;
			align-items: center;
		}
		&__list {
			display: flex;
		}
		&__item {

			&:not(:last-child){
			margin-right: 30px;
			}
		}
		&__link {
			padding: 33px 0;
			color: $color-main-dark;

			transition: color 250ms $timing-function;

			&:hover, a:focus {
				color: $main-color;	
			}
		}
		&__link--current {
			position: relative;
			color: $main-color;

			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 4px;

				background-color: $main-color;
				border-radius: 2px;
			}
		}
		&__right {}
		&__contacts {
			height: 100%;
			display: flex;
			align-items: center;
		}
		&__element {

			&:not(:last-child){
			margin-right: 30px;
			}
		}

	.element-contact {
		
		&__link {
			display: flex;
			align-items: center;
			padding: 33px 0;
			color: $color-second-dark;
			transition: color 250ms $timing-function;

			&:hover, &:focus{
				color: $main-color;
			}
		}
		&__icon-block {
			margin-right: 10px;
		}
		&__icon {
			display: block;
			fill: currentColor;
		}
		&__text {}
	}
}
