// ----------- section clients ---------
.clients {

	&__title {}
	&__list {
		display: flex;
	}
	&__item {
		width: calc((100% - 150px) / 6);
		
		&:not(:last-child){
			margin-right: 30px;
		}
	}
	&__link {
		@include flexCenter();
		height: 92px;
		// padding: 16px;
		border: 1px solid $color-svg-icon;
		border-radius: 4px;
		color: $color-svg-icon;

		transition: color 250ms $timing-function, border 250ms $timing-function;

		&:hover, &:focus{
			color: $main-color;
			border: 1px solid $main-color;
		}
	}
	&__icon {
		fill: currentColor;
	}
}